.reservation-page__header  {
  background: url(/public/images/booking/hero-bg-desktop.jpg) no-repeat;
  background-size: 100% 100%;
  padding: 45px 0 126px 0;

  &__title {
    margin: 153px 0 24px 0;
  }

  &__button {
    margin-top: 42px;
  }

}