.reservation-page {
  padding: 180px 0 100px 0;
  background: url(/public/images/patterns/pattern-curve-bottom-right.svg) left top no-repeat;
  background-size: 70% 100%;

  @media(max-width: $tablet) { 
    padding: 120px 0 80px 0;
    background: #fff;
   }

  .reservation-form__container {
    display: flex;
    justify-content: flex-end;

    .reservation-form {
      margin-top: -520px;
      width: 540px;
      padding: 48px;
      background-color: #ffffff;
      box-sizing: border-box;
      position: relative;
      @include setPageElementShadow();

      @media(max-width: $tablet) { 
        margin-top: -354px;
       }

       @media(max-width: $mobile) { 
        width: 100%;
        margin-top: -260px;
        padding: 32px;
      }

      input {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        margin-bottom: 16px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        border-radius: 0;
        font: 400 18px Spartan;
        outline: none;

        @media(max-width: $mobile) { 
          padding: 16px 7px;
        }

        &:focus {
          border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        // Invalid input styles
        &.unvalid {
        border-bottom: 1px solid rgba(181, 73, 73, 0.8); 

          &::placeholder {
            color: #b54949;
            @include setTextOpacity();
          }
      }
      };

      #meridien {
        @extend input;
        width: 97px;
      }

      .error-message {
        font: 500 10px Spartan;
        color: #b54949;
        margin: -5px 0 0 0;
      }

      &__choosed-el__container {
        display: flex;
        justify-content: space-between;

        @media(max-width: $mobile) { 
          margin-bottom: 16px;
        }
      }

      // Picked inputs blocks
      &__picked {
        display: flex;

        @media(max-width: $mobile) { 
          flex-direction: column;
        }

        input, #meridien {
          margin-left: 25px;
          text-align: center;

          @media(max-width: $mobile) { 
            margin: 0;
          }
        }

      // Select styles
        #meridien {
          position: relative;
          display: block;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          padding: 0;
          max-width: 100px;

          @media(max-width: $mobile) { 
            width: 33%;
            margin: 0; 
          }

          .select__head {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;

            &__content {
              margin-left: 20px;

              @media(max-width: $mobile) { 
                margin: 0px;
              }
            }

            .select__img {
              background: url('/public/images/icons/icon-arrow.svg') no-repeat; 
              background-size: 100%;
              width: 18px;
              height: 10px;
              margin-top: 3px;
            }
          }

          // Showed select list styles
          .select__list {
            position: absolute;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            display: none;
            margin-top: 25px;
            box-shadow: 0 15px 25px 0 rgba(56, 66, 85, 0.25);
            background-color: #fff;

            ul {
              list-style: none;
              margin: 0;
              padding: 23px 0 7px 20px;
              box-sizing: border-box;

              @media(max-width: $mobile) { 
                padding: 23px 0 7px 10px;
              }
            }

            li {
              box-sizing: border-box;
              margin-bottom: 16px;
            }
          }
        }

        .select__open {
          .select__img {
            transform: rotate(180deg);
            // transition: all 0.5s ease-out 0.2s;
          }
        }

        &__title {
          @media(max-width: $mobile) { 
            margin: 0px;
          }
        }
      }

      // Picked inputs el
      .picked-el {
        width: 80px;

        @media(max-width: $mobile) { 
         width: 27%;
        }

        &__big {
          width: 97px;

          @media(max-width: $mobile) { 
            margin: 0;
            width: 33%;
          }
        }
      }

      // People count el
      &__people-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 32px;
      }

      .reservation__message {
        display: none;
        text-align: center;
        letter-spacing: 0px;
        line-height: 1.2;
        margin-bottom: 0px;
      };

    }
  }
}