.reservation-page {
  padding: 180px 0 100px 0;
  background: url(/public/images/patterns/pattern-curve-bottom-right.svg) left top no-repeat;

  .reservation-form__container {
    display: flex;
    justify-content: flex-end;

    .reservation-form {
      margin-top: -520px;
      width: 540px;
      padding: 48px;
      background-color: #ffffff;
      box-sizing: border-box;
      position: relative;
      @include setPageElementShadow();

      input, #meridien {
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        margin-bottom: 16px;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        font: 400 18px Spartan;
        outline: none;

        &:focus {
          border-bottom: 1px solid rgba(0, 0, 0, 1);
        }

        // Invalid input styles
        &.unvalid {
        border-bottom: 1px solid rgba(181, 73, 73, 0.8); 

          &::placeholder {
            color: #b54949;
            @include setTextOpacity();
          }
      }
      };

      .error-message {
        font: 500 10px Spartan;
        color: #b54949;
        margin: -5px 0 0 0;
      }


      // Picked inputs blocks
      &__picked {
        display: flex;
        justify-content: space-between;

        input, #meridien {
          margin-left: 16px;
          text-align: center;
        }

      // Select styles
        #meridien {
          position: relative;
          display: block;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;
          padding: 0;
          max-width: 100px;

          .select__head {
            display: flex;
            justify-content: space-around;
            margin-top: 15px;

            &__content {
              margin-left: 20px;
            }

            .select__img {
              background: url('/public/images/icons/icon-arrow.svg') no-repeat; 
              background-size: 100%;
              width: 18px;
              height: 10px;
              margin-top: 3px;
            }
          }

          .select__list {
            position: absolute;
            width: 100%;
            z-index: 1;
            box-sizing: border-box;
            display: none;
            margin-top: 25px;
            box-shadow: 0 15px 25px 0 rgba(56, 66, 85, 0.25);
            background-color: #fff;

            ul {
              list-style: none;
              margin: 0;
              padding: 23px 0 7px 20px;
              box-sizing: border-box;

            }

            li {
              box-sizing: border-box;
              margin-bottom: 16px;
            }
          }
        }

        .select__open {
          .select__img {
            transform: rotate(180deg);
          }
        }
      }

      // Picked inputs el
      .picked-el {
        width: 80px;

        &__big {
          width: 97px;
        }
      }

      // People count el
      &__people-count {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
        margin-bottom: 32px;
      }

    }
  }
}