@mixin pattern__lines {
  content: "";
  z-index: 1;
  position: absolute;
  width: 160px;
  height: 76px;
  background: url(/public/images/patterns/pattern-lines.svg) no-repeat 100% 100%;
}

@mixin photos__line {
  content: "";
  z-index: 1;
  position: absolute;
  width: 36px;
  height: 1px;
  // // background: url(/public/images/icons/icon-minus.svg) no-repeat 100% 100%;
  // background-size: 36px 1px;
}


.section-2__container::before {
  @include pattern__lines();
  top: 255px;
  right: 50px;

  @media(max-width: $mobile) { 
    display: none;
  }
}

.section-3__wrap__description .row__photos::after {
  @include photos__line();
  top: 13px;
  right: -33px;

  @media(max-width: $mobile) { 
    display: none;
  }
}

.section-4__container {

  &__row__photo::before {
    @include pattern__lines();
    top: -37px;
    left: -48px;

    @media(max-width: $mobile) { 
      display: none;
    }
  }

  &__row__content {
    .row__content__slider .active::before {
      @include photos__line();
      top: 10px;
      left: -106px;
      width: 75px;
      background-color: #9e7f66;

      @media(max-width: $tablet) { 
        left: 37%;
        top: 30px;
        width: 48px;
      }

      @media(max-width: $mobile) { 
        left: 43%;
      }
    }
  }
}

.reservation-page {

  .reservation-form::after {
    @include pattern__lines();
    z-index: -1;
    bottom: -40px;
    left: -85px;

    @media(max-width: $tablet) { 
      display: none;
     }
  }

    li.checked {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        width: 14px;
        height: 10px;
        background: url(/public/images/icons/icon-arrow.svg) no-repeat 100%;
        left: 0;
        top: 3px;
      }
    }
}

