@mixin setTextOpacity ($opacity:.50, $opacityAlpha:50) {
  -moz-opacity: $opacity; 
  filter:alpha(opacity=$opacityAlpha); 
  opacity: $opacity;
};

.border-line__bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}