.img {
  @include setPageElementShadow();

    &__logo {
      max-width: 103px;
      height: 43px;
    };


    &__place {
      max-width: 510px;
      width: 510px;
      height: 680px;
      margin-top: -70px;
    
      &__bottom {
        position: relative;
        margin: 0 0 0 -70px;  
      }
    };

    &__divide {
      max-width: 60px;
      margin-bottom: 11px;
    };

    &__food {
      max-width: 128px;
      width: 128px;
      height: 96px;
    
    };
    
    &__family {
      max-width: 510px;
      width: 510px;
      height: 550px;
    }

    &__minus {
      width: 6px;
      height: 3px;
    }

    &__plus{
      width: 10px;
      height: 10px;
    }
}
