@import '../variables';
@import '../theme/typography';

@mixin button_theme($name, $primary_color, $accent_color, $bg_color: transparent) {
  &_#{$name} {
    border-color: $primary_color;
    color: $primary_color;
    background-color: $bg_color;

    &:hover {
      background-color: $primary_color;  
      color: $accent_color;
      @if ($bg_color) {
        border-color: $bg_color;
      } @else {
        border-color: $primary_color;
      }
    }
  }
}


// Reset user agent styles
.button {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

// Typogrpahy button styles
.button {
  font-family: inherit;
  text-align: center;
  line-height: 64px;
  text-transform: uppercase;
  @include typography(head_xs);
}

// Base button styles
.button {
  min-width: $button-min-width;
  height: $button-height;
  border: 1px solid transparent;
}

// Button theme styles
.button {
  &:disabled {
    opacity: 0.25;
  }

  &:active, &:focus {
    outline: none;
  }

  &_theme {
    @include button_theme(light, #111111, #ffffff);
    @include button_theme(dark, #ffffff, #111111);
    @include button_theme(reservation, #ffffff, #111111, #111111)
  }
}

.button {
  &__people-count {
    min-width: 26px;
    width: 26px;
    height: 26px;
    margin: 0 30px;
  }

  &__resarvation-form {
    width: 100%;
  }
}