.header {
  background: url(/public/images/homepage/hero-bg-desktop.jpg) bottom right no-repeat;
  padding: 45px 0 188px 0;

  &__title {
    margin: 153px 0 24px 0;
  }

  &__button {
    margin-top: 42px;
  }

}