.section-1 {
  background: url(/public/images/patterns/pattern-curve-top-right.svg) no-repeat left top 230px;
  background-size: 895px 320px;


  &__container {
    display: flex;
    justify-content: flex-start;
  }

  &__wrap {
    padding: 150px 0 180px;
    margin-left: 105px;

  }

  &__title {
    margin-bottom: 16px;
  }

}