.section-1 {
  background: url(/public/images/patterns/pattern-curve-top-right.svg) no-repeat left top 230px;
  background-size: 895px 320px;

  @media(max-width: $tablet) { 
    background-size: 50% 320px;
    background-position-y: 120px;
  }

  @media(max-width: $mobile) { 
    background: #ffffff;
  }


  &__container {
    display: flex;
    justify-content: flex-start;

    @media(max-width: $tablet) { 
      flex-direction: column;
    }
  }

  &__wrap {
    padding: 150px 0 180px 0;
    margin-left: 105px;

    @media(max-width: $tablet) { 
      margin: 0;
      padding: 65px 0 120px 0;
      text-align: center;
    }

    @media(max-width: $mobile) { 
      padding: 51px 0 80px 0;

      br {
        display: none;
      }
    }

  }

  &__title {
    margin-bottom: 16px;
  }

}